# Compiled files
target/
*.class

# IDE files
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Database files
*.db
*.db-shm
*.db-wal

# Logs
*.log

# OS files
Thumbs.db
desktop.ini

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dist/

# Build artifacts
portable/
app_log.txt
backups/
build/
.gradle/
caches/
.tmp/
jdks/
daemon/

# Собранные артефакты и дистрибутивы (не относятся к исходному коду)
*.jar
!gradle/wrapper/gradle-wrapper.jar
gradle-8.5-bin.zip
gradle-8.5/
native/
/wrapper/
gradle/wrapper/gradle-language-groovy-8.5.jar

# Временные/устаревшие файлы
pom.xml.old
.gigacode/

